@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Bienvenue sur le module d'Ajout de Photos !</h1>
    <p class="lead">Gérez vos concours et ajoutez facilement des photos grâce aux options ci-dessous.</p>

    <div class="d-flex justify-content-center gap-3 mt-4">
        <a href="/Concours" class="btn btn-secondary btn-lg">Ajouter un Concours</a>
        <a href="/AjouterEpreuve" class="btn btn-secondary btn-lg">Ajouter une Épreuve</a>
        <a href="/Photos" class="btn btn-secondary btn-lg">Ajouter des Photos</a>


    </div>
</div>
